:root {
  --main-color: #e67e22;
  --text: #fff;
  --background-color: #1e1d2b;
  --secondary-color: #1a81de;
  --card-bg: #181722;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-family: 'Rubik', sans-serif;
  background-color: var(--background-color);
  color: var(--text);
}

a{
  text-decoration: none;
  color: var(--text)

}
li{
  list-style: none;
}

.grid{
  display: grid;
}

.container{
  max-width: 120rem;
  gap: 9.6rem;
  margin: 0 auto;
  padding: 4.6rem 0;
}


/* NAVIGATION */
.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 10%;
}

.navigation .logo{
  height:2.2rem;
  filter: invert(1);
}

.nav-links{
  display: flex;
  align-items: center;
  gap: 2.2rem;
  font-size: 1.8rem;
  font-weight: 500;

}

.btn{
  font-size: 1.4rem;
  font-weight: 500;
  background-color: var(--secondary-color);
  padding: 1.2rem 2.2rem;
  border-radius: 10px;
  display: inline-block;
  transition: transform 0.3s;

}

.btn-g{
  text-transform: uppercase;
}

/* HERO-SECTION  */

.hero{
  height: 100vh;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.hero-img{
  max-width: 100%;
}

.content h1{
  font-size: 5.2rem;
  color: var(--main-color);
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 3.2rem;
}

.content p{
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}


.content a{
  margin-right: 2.6rem;
  
}
/* FEATURED IN */

.featured{
  padding: 9.6rem;
  margin: 0 auto;
}
.featured .subheading{
  text-align: center;
  font-size: 2rem;
}

.logos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.2rem;
}

.logos img{
  height: 3.2rem;
  filter: invert(1);
}


/* HOW-IT-WORKS */

.how-it-works{
  padding: 9.6rem 0;
}

.subheading{
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--main-color);
  
  }

.how-it-works h2{
  font-size: 4.2rem;
  margin: 1rem 0 6.4rem 3.2rem;
}

.steps{
  align-items: center;
  row-gap: 15rem;
  grid-template-columns: repeat(2, 1fr);
}

.number{
  font-size: 8.6rem;
  font-weight: 800;
  color: var(--main-color);
  margin-bottom: 3.2rem;
  display: inline-block;
}

.tertiary{
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.wrapper p{
  font-size: 2rem;
  line-height: 1.6;
}

.mobile{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile img{
  max-width: 40%; 
}


/* MEALS SECTION */

.meals{
  padding: 9.6rem 0;
}

.meals .subheading{
  font-size: 2.6rem;
  text-align: center;
}
.meals h2{
  font-size: 4.2rem;
  margin-top: 2.4rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

.cards-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4.6rem;
  row-gap: 6.4rem;
  max-width: 100rem;
  margin: 0 auto;
}

.card{
background-color: var(--card-bg);
border-radius: 10px;
overflow: hidden;

}

.card img{
  max-width: 100%;
  border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.food-wrapper{
padding: 1.2rem 2.4rem;

}

/* ICONS */
.ph-fork-knife{
  color: var(--secondary-color);
  font-size: 2rem;
  margin-right: .5rem;
 
}

.food-wrapper h3{
  font-size: 1.4rem;
  text-align: center;
  color: var(--main-color);
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-wrapper p{
  font-size: 1.2rem;
  line-height: 1.6;
  height: 8rem;
  margin-bottom: 2rem;
}

.meal-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.meal-btn a{
  background-color: var(--secondary-color);
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.2rem 8rem;
  border-radius: 50px;
  margin-bottom: 2rem;
}

.all-recipes{
  text-align: center;
  margin-top: 6rem;
}

.all-recipes a{
  color: var(--main-color);
  text-decoration: underline;
  font-size: 2rem;
}

/* TESTIMONIALS */

.testimonials h2{
  font-size: 4.2rem;
  margin: 1rem 0 6.4rem 3.2rem;
}

.carousel{
  width: 80%;
  background-color: var(--card-bg);
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  padding: 3.2rem;
}

.carousel img{
  height: 30rem;
}


.carousel p{
  font-size: 1.8rem;
  line-height: 1.5;
}

.carousel span{
  display: inline-block;
  font-size: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
}


/* GALLERY */

.gallery{
  padding: 9.6rem 0;
  max-width: 100rem;
}

.gallery p{
  font-size: 4.2rem;
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 600;
  text-align: center;
  margin-bottom: 3.2rem;
}

.grid-wrapper{
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
}

.window-pic{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.window-pic img{
  max-width: 100%;
  border-radius: 25px;
  border: 2px solid var(--secondary-color);
  padding: 1rem;
  transition: transform 1s;


}

.big-img img {
  max-width: 100%;
  border-radius: 25px;
  border: 2px solid var(--main-color);
  padding: 1rem;
  transition: transform 1s;

}

/* PRICING */

.pricing > span{
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  color: var(--main-color);
}

.pricing > p{
  font-size: 4.2rem;
  margin: 1rem 0 6.4rem 3.2rem;
  font-weight: 600;
}

.pricing-wrapper{
 display: grid;
grid-template-columns: repeat(3, 1fr);
column-gap: 3.2rem; 
}

.price-card{
  background-color: var(--card-bg);
  padding: 4.6rem;
  border-radius: 10px;
  
}

.price-header{
  margin-bottom: 3.2rem;
}

.price-header p{
  text-align: center;
  
}

.plan-name{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 3.2rem;
}


.price-tag{
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  border: 4px solid var(--secondary-color);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3.2rem;
  line-height: 3.1;

}

.plan-text{
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 500;
}


.price-text{
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.deals{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 24rem;
}

.deals li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.price-btn{
  display: flex;
  justify-content: center;
  margin-top: 6.4rem;
}

.price-btn a{
  padding: 1.6rem 3.8rem;
  display: inline-block;
  background-color: var(--secondary-color);
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.6em;
}

.ph-check, .ph-x{
  font-size: 2.4rem;
  color: var(--secondary-color);
}



.premium-header .plan-name,
.premium-header .plan-text{
  color: var(--main-color);
}

.premium-price-tag{
  border: 4px solid var(--main-color);
}

.premium-plan{
  text-transform: uppercase;
}

.premium-deals li i{
  color: var(--main-color);
}
.premium-btn a{
  background-color: var(--main-color);
}




/* F-GRID */



.f-grid{
  padding: 9.6rem 0;
  grid-template-columns: repeat(4,1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-top: 12rem;

}

.feature i{
  font-size: 50px;
  color: var(--secondary-color);
  margin-bottom: 3.2rem;
  display: inline-block;
}

.feature-title{
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
  font-weight: 700;
  color: var(--main-color);
}

.feature-title ~ p{
  font-size: 1.8rem;
  line-height: 1.6;
}


/* CTA */

.cta-section{
  padding: 9.6rem 0;
  margin-bottom: 9.6rem;
}

.cta-wrapper{
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom,#489ae5, #1a81de);
  border-radius: 11px;
  overflow: hidden;
}

.img-box{
  background-image:linear-gradient(to right bottom,rgba(72, 153, 229, 0.10), rgba(26, 131, 222, 0.10)),
   url("./img/food.jpg");
  background-size: cover;
  background-position: center;
}


.cta-text{
  padding:4.6rem 6.4rem;
}

.cta-text h2{
  font-size: 4.2rem;
  margin-bottom: 3.2rem;
}

.cta-text p{
  font-size: 2rem;
  line-height: 1.6;
}

.cta-header{
  margin-bottom: 3.2rem;
}

.cta-form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}

.cta-form label{
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form select,
.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 11px;
}


.cta-form input::placeholder{
  color: #aaa;
}

.cta-form select{
  color: #393939;
}


.cta-form button{
  align-self: flex-end;
  padding: 1.2rem;
  border: none;
  background-color: #051a2c;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}


/* FOOTER */

.footer{
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 6.4rem;
  margin-bottom: 6.4rem;
}

.logo-col img{
  height: 2.2rem;
  filter: invert(1);
  margin-bottom: 2.2rem;
}

.socials{
  display: flex;
  gap: 2.4rem;
}

.socials i{
  font-size: 2.6rem;
  color: var(--secondary-color);
}

.copyright{
  font-size: 1.4rem;
  margin-top: 6.4rem;
  line-height: 1.6;
}


.footer-heading{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.address{
  font-size: 1.6rem;
  margin-bottom: 4.4rem;
}

address p{
  font-size: 1.6rem;
  font-style: normal;
}

.footer-nav{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-nav li a{
  font-size: 1.6rem;
}

.dev{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  background-color: #12111a;
  padding: 2rem;
}

.dev .credits{
  display: flex;
  align-items: center;
  justify-content: center;
}

.ph-code{
  margin-right: .5rem;
  color: #1a81de;
  font-size: 3.2rem;
}

small p{
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.6rem;
}

p a{
  margin-left: .5rem;
}

.dev a:hover{
  color: var(--secondary-color);
}