@import "bootstrap";
.logo {
  filter: invert(1);
  cursor: pointer;
}

.navbar {
  background-color: $bg-dark;
}

.custom-nav {
  background-color: rgba(30, 29, 43, 0.6);
  backdrop-filter: blur(5px);
}

body {
  font-family: "Rubik", sans-serif;
  background-color: $bg-dark;
}

.delivered-imgs {
  img {
    border: 3px solid white;
  }
}

.featured-in {
  img {
    width: 10rem;
    filter: invert(1);
  }
}

.bg-card {
  background-color: $bg-card;
  img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(30, 29, 43, 0.15);
    backdrop-filter: blur(10px);
  }
}

@media (max-width: 760px) {
  .img-container {
    display: flex;
    justify-content: center;
    img {
      width: 50%;
    }
  }

  .company-logos {
    img {
      width: 80%;
    }
  }
}

@media (max-width: 550px) {
  .steps-container {
    img {
      width: 30%;
    }
  }
}
