@import "bootstrap";
.logo {
  filter: invert(1);
  cursor: pointer;
}

.navbar-nav {
  .nav-item {
    a {
      &:hover,
      &:active {
        color: $primary-subtle;
      }

      &:focus {
        color: $light;
      }
    }
    .gallery {
      transition: transform 0.3s ease;
      &:hover {
        color: $light;
      }
      &:active {
        transform: translate(3px, 5px);
      }
    }
  }
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(30, 29, 43, 0.15);
    backdrop-filter: blur(10px);
  }
}

body {
  font-family: "Rubik", sans-serif;
  background-color: $bg-dark;
}
